*{
    margin: 0;
    box-sizing: border-box;
    border-radius: 0%;
}
nav{
    text-align: center;
    background-color: blue;
    pad: 50px;

}
a{
    margin: 50px;
    font-size: xx-large;
    text-decoration: none;

}
.floral-card{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    height: 350px;
    background: chocolate;


}
.flower-card{
    flex-basis: 400px;
    gap: 20px;
    padding: 30px 10px;
    border: 3px solid;

}
.flower-card img{
    object-fit: cover;
    height: 250px;
    width: 100%;


}
.order input{
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: grey;

}
footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: grey;


    
}
.floral-card{
    background: lightblue;

}
nav img{
    width: 150px;
    height: 80px;
    
}